{% extends "IS/base.html" %}
{% block style %}
<style>
  tr[data-href] {
    cursor: pointer;
  }
</style>
{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%">
    Zoznam objednávok
</h1>
  <table class="card shopping-cart">
    <thead class="card-header bg-dark text-light">
      <tr class="row">
        <th class="col-12 col-sm-12 col-md-3 text-center">
          <div class="product-name"><strong>ID Objednávky</strong></div>      
        </th>
        <th class="col-12 col-sm-12 col-md-3 text-center">
          <div class="product-name"><strong>Prevádzka</strong></div>      
        </th>
        <th class="col-12 col-sm-12 col-md-3 text-center">
          <div class="product-name"><strong>Meno zákazníka</strong></div>      
        </th>
        <th class="col-12 col-sm-12 col-md-3 text-center">
          <div class="product-name"><strong>Stav</strong></div>      
        </th>
      </tr>
    </thead>
    <tbody class="card-body">
      <!-- Orders -->
      {% for order in orders %}
        <tr class="row" data-href="{% url 'order_detail' order_id=order.id %}">
          <td class="col-12 col-sm-12 col-md-3 text-center">
            <h5 class="product-name"><strong>{{ order.id }}</strong></h5>
          </td>
          <td class="col-12 col-sm-12 col-md-3 text-center">
            <h5 class="product-name"><strong>{{ order.store.address.city }}, {{ order.store.address.street }}</strong></h5>
          </td>
          <td class="col-12 col-sm-12 col-md-3 text-center">
            <h5 class="product-name"><strong>{{ order.customer.name }}</strong></h5>
          </td>
          <td class="col-12 col-sm-12 col-md-3 text-center">
            <h5 class="product-name"><strong>{% if order.prepared %}Pripravená{% else %}Nepripravená{% endif %}</strong></h5>
          </td>   
        </tr>
      {% endfor%}
      <!-- END Orders -->
    </tbody>
  </table>

<!--Pagination bar-->
{% if orders.paginator.num_pages > 1 %}
<div class="pagination">
  {% if orders.has_previous %}
      <a class="pagination-action" href="?page=1">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
      <a class="pagination-action" href="?page={{ orders.previous_page_number }}">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
  {% endif %}
  {% for num in orders.paginator.page_range %}
      {% if orders.number == num %}
          <span class="pagination-number pagination-current">{{ num }}</span>
      {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
          <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
  {% endfor %}
  {% if orders.has_next %}
      <a class="pagination-action" href="?page={{ orders.next_page_number }}">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <a class="pagination-action" href="?page={{ orders.paginator.num_pages }}">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}
{% block skripts %}
<script>
  $(document).ready(function () {
    $(document.body).on("click", "tr[data-href]", function () {
      console.log("tu som")
      window.location.href = this.dataset.href;
    });
  });
</script>
{% endblock skripts %}
