{% extends "CIS/base.html" %}
{% block content %}
  <h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%">
    Alternatívy a nedostupné produkty
  </h1>
  <hr>
  <h3 style="text-align: center;">
    Je nám to ľúto, ale nasledovné produkty nie sú dostupné.<br> Boli Vám navrhnuté alternatívy.
  </h3>
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <div class="row">
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Nedostupný produkt</strong></div>
        </div>
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Cena</strong></div>       
        </div>
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Počet kusov </strong></div>
        </div>
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Náhrada</strong></div>
        </div>
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Cena</strong></div>
        </div>
        <div class="col-3 col-sm-12 col-md-2 text-center">
          <div class="product-name"><strong>Počet kusov</strong></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Available PRODUCT -->
      <hr>
      <div class="row">
        <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Ananás</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={  % static item0.png %}>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,8€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
          <div class="col-12 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Avokádo</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item1.png" %}>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,7€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
      </div>
      <!-- END Available PRODUCT -->
      <!-- Available PRODUCT -->
      <hr>
      <div class="row">
        <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Ananás</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item0.png" %}>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,8€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
          <div class="col-12 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Avokádo</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item1.png" %}>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,7€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
      </div>
      <!-- END Available PRODUCT -->
      <!-- Available PRODUCT -->
      <hr>
      <div class="row">
        <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Ananás</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item0.png" %} >
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,8€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
          <div class="col-12 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>Avokádo</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item1.png" %}>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>0,7€</strong></h5>
          </div>
          <div class="col-3 col-sm-12 col-md-2 text-center">
            <h5 class="product-name"><strong>2ks</strong></h5>
          </div>
      </div>
      <!-- END Available PRODUCT -->        
    </div>
  </div>
  <h3 style="text-align: center; margin-top: 5%;">
    Nasledovné produkty nie sú dostupné a ani ich alternatívy.
  </h3>
  <div class="card shopping-cart"></div>
    <div class="card-header bg-dark text-light">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 text-center">
          <div class="product-name"><strong>Nedostupný produkt</strong></div>      
        </div>
        <div class="col-12 col-sm-12 col-md-4 text-center">
          <div class="product-name"><strong>Cena</strong></div>      
        </div>
        <div class="col-12 col-sm-12 col-md-4 text-center">
          <div class="product-name"><strong>Počet kusov</strong></div>      
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Unavailable PRODUCT -->
      <hr>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>Ananás</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item0.png" %}>
          </div>
          <div class="col-12 col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>0,5€</strong></h5>
          </div>
          <div class="col-12 col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>3ks</strong></h5>
          </div>
      </div>
      <!-- END Unavailable PRODUCT -->
      <!-- Unavailable PRODUCT -->
      <hr>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>Avokádo</strong></h5>
            <img class="img-responsive" alt="prewiew" width="120" height="80" src={ % static "item1.png" %}>
          </div>
          <div class="col-12 col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>0,5€</strong></h5>
          </div>
          <div class="col-12 2col-sm-12 col-md-4 text-center">
            <h5 class="product-name"><strong>3ks</strong></h5>
          </div>
      </div>
      <!-- END Unavailable PRODUCT -->
    </div>
    <div class="card-footer">
      <div class="row justify-content-center" style="margin-top: 5%">
        <form>
          <button class="button-light" type="submit">Upraviť náhrady</button>
        </form>
        <div style="width: 7%"></div>
        <form action="/e-shop/settings/" method="get">
          <button class="button-dark" type="submit">Pokračovať</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
