{% extends "CIS/base.html" %}
{% block content %}
  <h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%">
    Alternatívy a nedostupné produkty
  </h1>
  <p> To sa ešte spraví. Nech je najprv spravené vyberanie alternatív. <p>
  <div class="row justify-content-center" style="margin-top: 5%">
    <form>
      <button class="button-light" type="submit">Upraviť náhrady</button>
    </form>
    <div style="width: 7%"></div>
    <form action="/e-shop/settings/" method="get">
      <button class="button-dark" type="submit">Pokračovať</button>
    </form>
  </div>
{% endblock content %}
