{% extends "CIS/base.html" %}
{% load static %}
{% block content %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-success" role="alert" style="text-align: center">
          {{ message }}
        </div>
      {% endfor %}
    </ul>
  {% endif %}
  <div style="display: flex; justify-content: center; position: relative">
    <h1 class="text-center" style="text-align: center; margin-top: 2%; margin-bottom: 3%">Katalóg </h1>
    <button class="button-light" style="margin-top: 2%; position: absolute; right: 0; " type="submit">Pokračovať</button>
  </div>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="col-md-12 product-box">
          <h4>{{ product.name }}</h4>
          {% if product.breakable == True %}
            <p>Rýchlo kaziace:
              áno<br>Cena/ks: {{ product.price|floatformat:2 }} €<br>Hmotnosť/ks: {{ product.weight|floatformat:2 }}kg
            </p>
          {% else %}
            <p>Rýchlo kaziace:
              nie<br>Cena/ks: {{ product.price|floatformat:2 }} €<br>Hmotnosť/ks: {{ product.weight|floatformat:2 }}kg
            </p>
          {% endif %}
          <div class="center">
            <img style="width: 50%; height: auto; "
                 src={% static product.image %}>
            <button class="button-dark-small" type="submit"
                    style="position: absolute; right: 30px; bottom: 30px;">
              Pridať do košíka
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}