{% extends "CIS/base.html" %}
{% block content %}
  <h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%"> Kuriér nebol nájdený </h1>
  <h3 style="text-align: center; margin-bottom: 10%">
    {% if messages %}
        {% for message in messages %}
            <strong>Dôvod: </strong>{{ message }}.
        {% endfor %}
    {% endif %}
    <br>
    Želáte si zmeniť čas/spôsob doručenia alebo zrušiť objednávku?
  </h3>
  <div class="row justify-content-center" style="margin-top: 5%">
    <form action="/e-shop/settings/" method="get">
      <button class="button-dark" type="submit">Zmeniť nastavenia doručenia</button>
    </form>

    <div style="width: 7%"></div>
    <form action="/e-shop/" method="get">
      <button class="button-light" type="submit">Zrušiť objednávku</button>
    </form>
  </div>
{% endblock content %}