{% extends "CIS/base.html" %}
{% load static %}
{% block content %}
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if 'success' in message.tags %}
          <div class="alert alert-success alert-dismissable" role="alert" style="text-align: center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% elif 'error' in message.tags %}
          <div class="alert alert-danger alert-dismissable" role="alert" style="text-align: center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
<h1 class="text-center" style="margin-top: 2%"> Doprava </h1>

<div class="login-page">
  <div class="form">
    <form action="/e-shop/delivery/" method="post"> {% csrf_token %}
      <div class="form-check">
        <input name="curier" class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="displayDelivery()">
        <label class="form-check-label" for="defaultCheck1">
          Kuriér
        </label>
      </div>
      <div class="form-check">
        <input name="personalCollection" class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Osobný odber
        </label>
      </div>
      <div class="container" id="displayText" style="display:none">
        <div class="dates" style="margin-top:30px;color:#2471a3;">
          <label>Od: </label>
          <input size="5" name="casOd" type="text" style="width:200px;background-color:#aed6f1;" placeholder="yyyy-mm-dd hh:ii"  readonly class="form_datetime">
        </div>
        <div class="dates" style="color:#2471a3;">
          <label>Do: </label>
          <input size="5" name="casDo" type="text" style="width:200px;background-color:#aed6f1;" placeholder="yyyy-mm-dd hh:ii" readonly class="form_datetime">
        </div>
      </div>
      <button type="submit" class="button-dark">Pokračovať</button>
    </form>
  </div>
</div>
{% endblock content %}
{% block skripts %}
<script type="text/javascript">
var dateNow = new Date();
$(".form_datetime").datetimepicker(
  {
    useCurrent: false,
    defaultDate:dateNow,
    format: 'yyyy-mm-dd hh:ii'}
  );
</script>    
{% endblock skripts %}
