{% extends "CIS/base.html" %}
{% block content %}
    <h1 style="text-align: center; margin-top: 2%; margin-bottom: 3%"> Nákupný košík </h1>
    <h3 style="text-align: center; margin-bottom: 10%"> Váš nákupný košík neobsahuje žiadne produkty. </h3>
    <div class="row justify-content-center" style="margin-top: 5%">
        <button class="button-dark" type="submit">
            <a href="{% url 'catalogue' %}"> Pokračovať v nákupe </a>
        </button>
        <div style="width: 7%"></div>
        <button class="button-light" type="submit">
            <a href="{% url 'home' %}"> Späť na hlavnú stránku </a>
        </button>
    </div>
{% endblock content %}
