{% extends "CIS/base.html" %}
{% load static %}
{% block content %}
  <h1 class="text-center" style="margin-top: 2%; margin-bottom: 3%"> Nákupný košík </h1>

  <div class="cart-container">
    <h3>Produkty:</h3>
    <table class="table">
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}&euro;/ks</td>
          <td class="text-center"><div id={{ product.id_num }}>{{ product.amount }}</div></td>
          <td class="text-right">
            <form action="/e-shop/shopping_cart/" method="post" style="display: inline-block"> {% csrf_token %}
              <button class="btn" type="submit" name="minus{{ product.id_num }}" style="float: left" onclick="minusCounter({{ product.id_num }}, {{ product.price }})">-</button>
              <button class="btn" type="submit" name="plus{{ product.id_num }}" style="float: right; margin-left: 10px" onclick="plusCounter({{ product.id_num }}, {{ product.price }})">+</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <b>Celková cena: <span id="total_amount">{{ total_price }}</span>&euro;</b>
    <hr>
    <div class="text-right">
      <form action="/e-shop/settings/" method="get">
        <button type="submit" class="button-dark"> Pokračovať</button>
      </form>
    </div>
  </div>

{% endblock content %}